#background {
  /* background: linear-gradient(45deg, black, black); */
  background: linear-gradient(96deg, rgb(58, 117, 196), rgb(77, 155, 117));
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#main {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0 1px 2px black;
  font-family: "Helvetica Neue";
}
#main h1 {
  font-weight: 100;
  margin-top: 50px;
}
#main .primary {
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
}
#main .sub {
  font-family: courier;
  font-size: 0.6em;
}
#main p {
  margin-bottom: 20px;
}
#main .output {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px auto;
  width: 85%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: black;
  text-shadow: none;
  font-family: "courier";
  font-size: 0.8em;
}

/*  https://css-tricks.com/using-svg/     article with kiwi examples */
.asterisk {
  fill: #94d31b;
}
.asterisk:hover {
  fill: #ace63c;
}

.logo {
  width: 200px;
  height: 164px;
}

.kiwi {
  fill: #94d31b;
}
.kiwi:hover {
  fill: #ace63c;
}

.ground {
  fill: #787f6a;
}

.ground:hover {
  filter: url(#pictureFilter);
  fill: #896d3d;
}
