* {
  font-family: "Helvetica Neue";
}


a:visited {
    text-decoration: none;
    color: white;
}
a:link {
    text-decoration: none;
    color: white;
}

#background {
  /* background: linear-gradient(45deg, black, black); */
  background: linear-gradient(96deg, rgb(58, 117, 196), rgb(77, 155, 117));
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#main {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 0 1px 2px black;
}

#main h1 {
  font-weight: 100;
  margin-top: 50px;
}
#main .primary {
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
}
#main .sub {
  font-family: courier;
  font-size: 0.6em;
}
#main p {
  margin-bottom: 20px;
}
#main .output {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px auto;
  width: 85%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: black;
  text-shadow: none;
  font-family: "courier";
  font-size: 0.8em;
}




button {
    text-transform: uppercase;
    color: #e7e5e5;
    font-weight: bold;
    color: #e7e5e5;
    display: inline-block;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5em 2em;
    margin: 1em;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
    transition: all 100ms;
    text-decoration: none;
  }

  .active {
      background: lightgrey;
      color: black;
  }


button:hover {
    background: white;
    color: #444;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.20);
  }

/*
    used by components/Input.js
*/
input {
    border-radius: 0.6em;
    padding: 0.2em 0.5em;
    border: none;
    outline: none;
    box-shadow: 0 0 2px black;
  }

  input.valid:focus {
    box-shadow: 0 0 8px rgba(0, 255, 50, 0.75)
  }

  input.invalid, input.invalid:focus {
    box-shadow: 0 0 9px rgba(255, 25, 25, 0.75)
  }

  input:read-only {
      background-color: darkgrey;
  }

  table {
      border-collapse: collapse;
      margin:1em auto;
  }

  th, td {
      font-weight: normal;
      font-size: 14px;
      border: 1px solid black;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
      background-color: #4CAF50;
      color: white;
  }
